:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
}

.label-goes-here {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #000000;
  font-family: Mark Pro, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}


/* Oculta el checkbox original */
input[type="checkbox"] {
  display: none;
}

/* Crea un nuevo checkbox */
input[type="checkbox"]+label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

input[type="checkbox"]+label:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #1ccc1d;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
}

/*Hover sin checkear*/
input[type="checkbox"]:hover+label:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #0B520C;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
}

/* Color cuando el checkbox está seleccionado */
input[type="checkbox"]:checked:hover+label:before {
  background: #0B520C;
  background-image: url("../Checkbox/img/white_check.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  /* Color de fondo cuando está seleccionado */
}

/* Color cuando el checkbox está seleccionado */
input[type="checkbox"]:checked+label:before {
  background: #1ccc1d;
  background-image: url("../Checkbox/img/white_check.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  /* Color de fondo cuando está seleccionado */
}


/* Estilo para la clase disabled-checkbox */
.disabled-checkbox + label:before {
  border-color: #E5E5E5; /* Cambiar el borde a gris */
  background: #FFFFFF; /* Cambiar el fondo a gris */
  cursor: not-allowed; /* Cambiar el cursor a no permitido */
}

.disabled-checkbox + label {
  cursor: not-allowed; /* Cambiar el cursor del label a no permitido */
}

input[type="checkbox"].disabled-checkbox:checked + label:before {
  background: #E5E5E5; /* Cambiar el color de fondo cuando está seleccionado y deshabilitado */
  border-color: #E5E5E5; /* Cambiar el color del borde cuando está seleccionado y deshabilitado */
  cursor: not-allowed; /* Cambiar el cursor cuando está seleccionado y deshabilitado */
  background-image: url("../Checkbox/img/gray_check.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
input[type="checkbox"].disabled-checkbox+label:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
}