.main{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.div-label{
  margin-left: 15px;
  margin-bottom: 8.5px;
}

.label {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #000000;
  font-family: Mark Pro, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}

.toggle {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 56px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: #1CCC1D 1px solid;
  transition: .4s;
  border-radius: 16px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: #1CCC1D;
  transition: .4s;
  border-radius: 50%;
}
.slider:hover:before {
  background-color: #0B520C; /* Cambiar el color del slider en estado desactivado cuando se hace hover */
}
.slider:hover{
  background-color: #ffffff; /* Cambiar el color del slider en estado desactivado cuando se hace hover */
  border: #0B520C 1px solid;
}

input:checked + .slider {
  background-color: #1CCC1D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1CCC1D;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

input:checked + .slider:hover {
  background-color: #0B520C;
}
.toggle input:checked + .slider:before {
  background-color: #ffffff; /* Cambia el color del slider cuando está marcado */
  transform: translateX(24px);
}

/*disableds*/
/* Estilo para el toggle deshabilitado */
.toggle input:disabled + .slider {
  background-color: #E5E5E5; /* Cambiar color de fondo cuando está deshabilitado */
  border: #E5E5E5 1px solid; /* Cambiar color del borde cuando está deshabilitado *//* Cambiar cursor cuando está deshabilitado */
}
.toggle-disabled input + .slider {
  background-color: #E5E5E5; /* Cambiar color de fondo cuando está deshabilitado */
  border: #E5E5E5 1px solid; /* Cambiar color del borde cuando está deshabilitado *//* Cambiar cursor cuando está deshabilitado */
}

.toggle input:disabled + .slider:before {
  background-color: #999999; /* Cambiar color del slider cuando está deshabilitado */
}

.toggle input:checked:disabled + .slider:before {
  background-color: #E5E5E5; /* Cambiar color del slider cuando está marcado y deshabilitado */
}

/*disabled con clases*/
.disabled-label {
  color: #999999; /* Cambiar color de la etiqueta cuando está deshabilitado */
}

.disabled-toggle {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 56px;
}

.disabled-toggle input {
  display: none;
}

.disabled-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E5E5E5;
  border: #E5E5E5 1px solid;
  transition: .4s;
  border-radius: 16px;
}

.disabled-slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-color: #999999;
  transition: .4s;
  border-radius: 50%;
}

input.disabled-checkbox:checked + .disabled-slider {
  background-color: #999999;
}

input.disabled-checkbox:focus + .disabled-slider {
  box-shadow: 0 0 1px #000000;
}

input.disabled-checkbox:checked + .disabled-slider:before {
  transform: translateX(24px);
}

input.disabled-checkbox:checked + .slider:hover {
  background-color: #0B520C;
}
.disabled-toggle input.disabled-checkbox:checked + .disabled-slider:before {
  background-color: #E5E5E5; /* Cambia el color del slider cuando está marcado */
  transform: translateX(24px);
}
/*fin de los css con disabled*/